In [7]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

file = '/Users/sinhtran/Desktop/house-prices.csv'
df = pd.read_csv(file)
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [8]:
y = df['Price']
y

0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: Price, Length: 128, dtype: int64

In [9]:
X = df.drop('Price', axis = 1)
X

     Home  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  1790         2          2       2    No         East
1       2  2030         4          2       3    No         East
2       3  1740         3          2       1    No         East
3       4  1980         3          2       3    No         East
4       5  2130         3          3       3    No         East
..    ...   ...       ...        ...     ...   ...          ...
123   124  1900         3          3       3   Yes         East
124   125  2160         4          3       3   Yes         East
125   126  2070         2          2       2    No        North
126   127  2020         3          3       1    No         West
127   128  2250         3          3       4    No        North

[128 rows x 7 columns]

In [22]:
df = pd.DataFrame(data)
df

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [23]:
print(df.Neighborhood)

0       East
1       East
2       East
3       East
4       East
       ...
123     East
124     East
125    North
126     West
127    North
Name: Neighborhood, Length: 128, dtype: object

In [30]:
print(df.Brick)

0       No
1       No
2       No
3       No
4       No
      ...
123    Yes
124    Yes
125     No
126     No
127     No
Name: Brick, Length: 128, dtype: object

In [39]:
from sklearn.preprocessing import OneHotEncoder
encoder_1 = OneHotEncoder()
encoded_data_1 = encoder.fit_transform(df[['Neighborhood']]).toarray()

In [51]:
from sklearn.preprocessing import LabelEncoder

label_encoder = LabelEncoder()
X_train['Brick'] = label_encoder.fit_transform(X_train['Brick'])

In [53]:
    from sklearn.preprocessing import OneHotEncoder
    
    # Chuyển đổi cột 'Neighborhood' thành dạng one-hot
    encoder = OneHotEncoder(sparse_output=False, drop='first')  # drop='first' để tránh đa cộng tuyến
    neighborhood_encoded = encoder.fit_transform(X_train[['Neighborhood']])
    neighborhood_encoded_df = pd.DataFrame(neighborhood_encoded, columns=encoder.get_feature_names_out(['Neighborhood']))
    
    # Thêm các cột mới vào DataFrame
    X_train_encoded = pd.concat([X_train, neighborhood_encoded_df], axis=1)
    
    # Xóa cột 'Neighborhood' gốc
    X_train_encoded = X_train_encoded.drop(['Neighborhood'], axis=1)

In [73]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder()
X_encoded = encoder.fit_transform(X[['Neighborhood']]).toarray()
X_encoded_df = pd.DataFrame(X_encoded, columns=encoder.get_feature_names_out(['Neighborhood']))

In [74]:
X_train_encoded

    Home    SqFt  Bedrooms  Bathrooms  Offers  Brick
70  71.0  1950.0       3.0        3.0     3.0    1.0
78  79.0  2130.0       3.0        2.0     3.0    0.0
47  48.0  2050.0       3.0        2.0     6.0    0.0
0    1.0  1790.0       2.0        2.0     2.0    0.0
12  13.0  1910.0       3.0        2.0     4.0    0.0
..   ...     ...       ...        ...     ...    ...
81   NaN     NaN       NaN        NaN     NaN    NaN
84   NaN     NaN       NaN        NaN     NaN    NaN
94   NaN     NaN       NaN        NaN     NaN    NaN
96   NaN     NaN       NaN        NaN     NaN    NaN
98   NaN     NaN       NaN        NaN     NaN    NaN

[123 rows x 6 columns]

In [75]:
encoded_data_1

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [76]:
X

     Home  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  1790         2          2       2    No         East
1       2  2030         4          2       3    No         East
2       3  1740         3          2       1    No         East
3       4  1980         3          2       3    No         East
4       5  2130         3          3       3    No         East
..    ...   ...       ...        ...     ...   ...          ...
123   124  1900         3          3       3   Yes         East
124   125  2160         4          3       3   Yes         East
125   126  2070         2          2       2    No        North
126   127  2020         3          3       1    No         West
127   128  2250         3          3       4    No        North

[128 rows x 7 columns]

In [77]:
y

0      114300
1      114200
2      114800
3       94700
4      119800
        ...
123    119700
124    147900
125    113500
126    149900
127    124600
Name: Price, Length: 128, dtype: int64

In [83]:
X_train_encoded, X_test_encoded, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state =42)
X_train_encoded

     Home  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
70     71  1950         3          3       3   Yes         West
78     79  2130         3          2       3    No        North
47     48  2050         3          2       6    No        North
0       1  1790         2          2       2    No         East
12     13  1910         3          2       4    No        North
..    ...   ...       ...        ...     ...   ...          ...
106   107  2130         3          2       4    No        North
14     15  2590         4          3       4    No         West
92     93  2110         3          2       2    No         West
51     52  1860         2          2       3    No        North
102   103  2410         3          3       4    No         East

[102 rows x 7 columns]

In [84]:
y_test

55     125700
40     106600
19     167200
31     112300
98     145500
56     140900
69     165600
104     82300
81     184300
26     137000
94     160600
27      99300
64     130300
4      119800
96     133300
113    115700
36     117500
80     143400
125    113500
84      90500
18     111400
10     132500
118    150200
11     123000
105    146900
45     103200
Name: Price, dtype: int64

In [86]:
model = LinearRegression()
model.fit(X_train,y_train)

NameError: name 'y_train_encoded' is not defined