In [38]:
import pandas as pd

# Đọc dữ liệu từ tệp tin CSV
file_path = '/Users/sinhtran/Desktop/house-prices.csv'
data = pd.read_csv(file_path)
data

     Home   Price  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood
0       1  114300  1790         2          2       2    No         East
1       2  114200  2030         4          2       3    No         East
2       3  114800  1740         3          2       1    No         East
3       4   94700  1980         3          2       3    No         East
4       5  119800  2130         3          3       3    No         East
..    ...     ...   ...       ...        ...     ...   ...          ...
123   124  119700  1900         3          3       3   Yes         East
124   125  147900  2160         4          3       3   Yes         East
125   126  113500  2070         2          2       2    No        North
126   127  149900  2020         3          3       1    No         West
127   128  124600  2250         3          3       4    No        North

[128 rows x 8 columns]

In [39]:
import pandas as pd #Thư viện cho việc xử lý và phân tích dữ liệu.
from sklearn.model_selection import train_test_split #Hàm để chia dữ liệu thành tập huấn luyện và kiểm thử.
from sklearn.linear_model import LinearRegression #Mô hình hồi quy tuyến tính.
from sklearn.metrics import mean_squared_error #Đánh giá hiệu suất của mô hình.
from sklearn.impute import SimpleImputer #Bộ điền giá trị thiếu.
from sklearn.preprocessing import OneHotEncoder #Trình mã hóa cho biến phân loại.
from sklearn.compose import ColumnTransformer #Áp dụng các bộ biến đổi cho các cột của một mảng hoặc DataFrame của pandas.
from sklearn.pipeline import Pipeline #Áp dụng tuần tự một danh sách các biến đổi và một mô hình ước lượng cuối cùng.

In [40]:
categorical_cols = X.select_dtypes(include=['object']).columns
numerical_cols = X.select_dtypes(exclude=['object']).columns

In [41]:
numerical_transformer = SimpleImputer(strategy='mean')
categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

In [42]:
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols)
    ])

In [43]:
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('regressor', LinearRegression())
])

In [44]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [45]:
X_test_with_predictions = X_test.copy()
X_test_with_predictions['Forecasted_Price'] = y_pred

In [46]:
pd.set_option("display.max_columns", None)
print(X_test_with_predictions)

     Home  SqFt  Bedrooms  Bathrooms  Offers Brick Neighborhood  \
55     56  1720         2          2       2   Yes         East
40     41  1560         2          2       1    No         East
19     20  1920         3          3       2   Yes         West
31     32  1930         2          2       2   Yes        North
98     99  2060         3          2       1    No         West
56     57  2190         3          2       3   Yes         East
69     70  2080         4          3       3    No         West
104   105  1910         3          2       4    No         East
81     82  2140         4          3       2   Yes         West
26     27  2000         4          2       3    No         West
94     95  2150         4          3       3   Yes         West
27     28  1700         3          2       2    No         East
64     65  1860         3          2       2    No         West
4       5  2130         3          3       3    No         East
96     97  2440         3          3       3    No         East
113   114  2000         3          2       3   Yes        North
36     37  1880         2          2       2    No        North
80     81  2190         3          3       4   Yes         East
125   126  2070         2          2       2    No        North
84     85  1520         2          2       3    No        North
18     19  1700         2          2       1   Yes         East
10     11  2030         3          2       3   Yes         East
118   119  1950         3          2       3   Yes        North
11     12  1870         2          2       2   Yes         East
105   106  2530         4          3       4    No         West
45     46  1810         3          2       3    No         East

     Forecasted_Price
55      116125.186720
40       98554.117883
19      161325.524136
31      130707.786271
98      153368.679400
56      139227.031172
69      148239.527151
104      96176.142867
81      177199.681855
26      136917.645449
94      168934.832306
27      101990.350999
64      133127.929385
4       126629.877171
96      143988.769479
113     128587.301379
36      110792.153807
80      137319.186467
125     120970.350691
84       79761.161884
18      124127.453784
10      130246.621961
118     125506.974215
11      125776.208431
105     166134.222339
45       99674.066008